---
interface Props {
	title: string;
	description: string;
	img: string;
}

const { title, description, img } = Astro.props;
---

<article
	class="w-full p-4 rounded-lg shadow-md mx-auto transition duration-150 backdrop-blur-sm border border-white/10 hover:bg-[#25252591]"
>
	<img
		src={`/icons/${img}`}
		alt="Icono tecnología"
		width="48"
		height="48"
		class="aspect-square object-contain"
		loading="lazy"
	/>
	<p class="mb-4 mt-2 text-sm">{title}</p>
	<p class="text-gray-400 text-sm leading-normal">{description}</p>
</article>
