<footer class="max-w-5xl mx-auto px-2 py-6 flex items-center justify-between">
    <p class="text-white/30 text-sm">&copy; 2024 Teyu</p>
    <a
        class="text-white/30 underline text-sm"
        href="mailto:cesarahh3@gmail.com"
        aria-label="Contactar">Contacto</a
    >
</footer>
