---
import MenuRightIcon from "@components/icons/MenuRightIcon.astro";
---

<header
    class="max-w-5xl mx-auto px-2 py-6 flex items-center justify-between sticky top-0 z-10 bg-[#191919]"
>
    <a href="/"><img src="/teyu-logo.png" alt="" class="size-8" /></a>
    <nav>
        <ul class="hidden space-x-10 md:flex [&>li]:text-sm">
            <li>
                <a href="#colaborations" class="hover:underline"
                    >Colaboraciones</a
                >
            </li>
            <li><a href="#team" class="hover:underline">Equipo</a></li>
            <li><a href="#faqs" class="hover:underline">FAQ</a></li>
            <li>
                <a
                    href="#contact"
                    class="bg-white/80 transition duration-300 hover:bg-white text-black px-3 py-2 rounded-lg"
                    >Contacto</a
                >
            </li>
        </ul>
    </nav>
    <button type="button" class="flex md:hidden">
        <MenuRightIcon class="size-8" />
    </button>
</header>
