---
import Card from "@components/shared/Card.astro";
import { ITEMS_ABOUT } from "@utils/data";
import ContainerSection from "@components/shared/ContainerSection.astro";
---

<ContainerSection>
    <h3 class="mb-12 text-lg">Esto es para ti, si eres…</h3>
    <div
        class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5"
    >
        {ITEMS_ABOUT.map((item) => <Card {...item} />)}
    </div>
</ContainerSection>
