---
import CardBenefit from "@components/CardBenefit.astro";
import { ITEMS_BENEFITS } from "./utils/data";
---

<section
    class="max-w-5xl mx-auto flex flex-col px-3 py-36 items-center gap-y-14 md:gap-y-12"
>
    <h2 class="mb-12 text-lg">Por qué le encantará</h2>
    {ITEMS_BENEFITS.map((item) => <CardBenefit {...item} />)}
</section>
