---
interface Props {
	title: string;
	description: string;
	img: string;
}

const { title, description, img } = Astro.props;
---

<article
	class="bg-[#143A4E] w-full p-4 rounded-lg shadow-md shadow-[#143A4E] group mx-auto hover:bg-[#112f3f] transition-colors border-b-2 border-transparent hover:border-white"
>
	<img
		src={`/icons/${img}`}
		alt=""
		width="48"
		height="48"
		class="aspect-square object-contain"
	/>
	<p class="mb-4 mt-2 text-sm">{title}</p>
	<p class="text-gray-400 text-sm">{description}</p>
</article>
