---

---

<section
    class="max-w-5xl mx-auto flex flex-col px-3 py-16 md:py-36 items-center"
>
    <h2 class="mb-12 text-lg">Colaboraciones</h2>
    <div class="w-full flex flex-col md:flex-row items-center justify-evenly">
        <img
            src="/colabs/casa-ujat.webp"
            alt=""
            class="w-auto h-32 aspect-square object-contain"
            loading="lazy"
        />
        <img
            src="/colabs/pescarte.webp"
            alt=""
            class="w-auto h-36 aspect-square object-contain"
            loading="lazy"
        />
        <img
            src="/colabs/mayito.webp"
            alt=""
            class="w-auto h-36 aspect-square object-contain"
            loading="lazy"
        />
        <img
            src="/colabs/x-dev-lab.webp"
            alt=""
            class="w-auto h-36 aspect-square object-contain"
            loading="lazy"
        />
    </div>
</section>
