---

---

<section class="max-w-5xl mx-auto flex flex-col px-3 py-36 items-center">
    <h3 class="mb-12 text-lg">Colaboraciones</h3>
    <div class="w-full flex flex-col md:flex-row items-center justify-evenly">
        <img
            src="/colabs/casa-ujat.webp"
            alt=""
            class="w-auto h-32 aspect-square object-contain"
        />
        <img
            src="/colabs/pescarte.webp"
            alt=""
            class="w-auto h-36 aspect-square object-contain"
        />
        <img
            src="/colabs/mayito.webp"
            alt=""
            class="w-auto h-36 aspect-square object-contain"
        />
        <img
            src="/colabs/x-dev-lab.webp"
            alt=""
            class="w-auto h-36 aspect-square object-contain"
        />
    </div>
</section>
