---
import ContainerSection from "@components/shared/ContainerSection.astro";
---

<ContainerSection id="colaborations">
    <h2 class="mb-12 text-lg">Colaboraciones</h2>
    <div class="w-full flex flex-col md:flex-row items-center justify-evenly">
        <img
            src="/colabs/casa-ujat.webp"
            alt="Logo Casa Universitaria UJAT"
            class="w-auto h-32 aspect-square object-contain"
            loading="lazy"
        />
        <img
            src="/colabs/pescarte.webp"
            alt="Logo PescArte"
            class="w-auto h-36 aspect-square object-contain"
            loading="lazy"
        />
        <img
            src="/colabs/mayito.webp"
            alt="Logo Mayito - La pólvora"
            class="w-auto h-36 aspect-square object-contain"
            loading="lazy"
        />
        <img
            src="/colabs/x-dev-lab.webp"
            alt="Logo X DEVLAB"
            class="w-auto h-36 aspect-square object-contain"
            loading="lazy"
        />
    </div>
</ContainerSection>
