---
import ContainerSection from "@components/shared/ContainerSection.astro";
import Question from "@components/shared/Question.astro";
import { DATA_QUESTIONS } from "@utils/data";
---

<ContainerSection id="faq">
    <h2 class="mb-12 text-xl">Preguntas frecuentes</h2>

    <div class="w-full md:w-3/4 flex flex-col space-y-3">
        {DATA_QUESTIONS.map((question) => <Question {...question} />)}
    </div>
</ContainerSection>
