---

---

<section
    class="max-w-5xl mx-auto px-3 lg:px-1 pt-10 flex flex-col md:flex-row items-center justify-between"
    id="home"
>
    <div class="w-full md:w-1/2 h-auto space-y-10">
        <div class="w-full h-14">
            <span id="typing" class="text-4xl md:text-5xl"></span>
        </div>
        <p class="text-2xl md:text-3xl">
            Desarrollando software a medida para el cliente
        </p>
        <p class="text-base font-normal">
            Somos un grupo de desarrolladores 100% originarios de la Chontalpa,
            nuestro nombre proviene proviene de “tey”, palabra chontal que hace
            referencia a algo valioso o significativo. Siendo el cliente nuestra
            prioridad, creando soluciones que importen y perduren.
        </p>
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center mt-2 md:mt-0">
        <img
            src="/img/hero-image.webp"
            alt=""
            width="450"
            height="450"
            class="aspect-square w-auto h-auto"
            loading="lazy"
            id="animated-image"
        />
    </div>
</section>

<script src="/js/autotyping.min.js" defer></script>

<script is:inline type="module" defer>
    const exampleText = ["<teyu/>"];
    const exampleTyping = new AutoTyping("#typing", exampleText, {
        typeSpeed: 200,
        deleteSpeed: 50,
        waitBeforeDelete: 1500,
        waitBetweenWords: 700,
    });
    exampleTyping.start();
</script>
