---
import HandsIcon from "@components/icons/HandsIcon.astro";
import HomeIcon from "@components/icons/HomeIcon.astro";
import QuestionIcon from "@components/icons/QuestionIcon.astro";
import UsersIcon from "@components/icons/UsersIcon.astro";

interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<span
    class:list={[
        "z-10 fixed bottom-0 w-full bg-white/10 backdrop-blur-xl h-dvh items-end hidden justify-center md:hidden",
        className,
    ]}
    id="navbar-mobile"
>
    <nav
        class="w-full h-1/2 rounded-t-3xl border-t-2 border-white/80 slider-up bg-gradient-to-t to-zinc-900 from-zinc-950"
    >
        <ul
            class="w-full h-full flex items-center justify-evenly flex-col [&>li]:text-base [&>li]:w-full"
        >
            <li class="active:underline group">
                <a
                    class="flex py-3 items-center justify-center gap-x-2"
                    href="#home"
                    aria-label="Ir a inicio"
                >
                    <HomeIcon class="size-5" />
                    Inicio</a
                >
            </li>
            <li class="active:underline">
                <a
                    class="flex py-3 items-center justify-center gap-x-2"
                    href="#colaborations"
                    aria-label="Ir a colaboraciones"
                >
                    <HandsIcon class="size-5" />
                    Colaboraciones</a
                >
            </li>
            <li class="active:underline">
                <a
                    class="flex py-3 items-center justify-center gap-x-2"
                    href="#team"
                    aria-label="Ir a equipo"
                >
                    <UsersIcon class="size-5" />
                    Equipo</a
                >
            </li>
            <li class="active:underline">
                <a
                    class="flex py-3 items-center justify-center gap-x-2"
                    href="#faq"
                    aria-label="Ir a FAQ"
                >
                    <QuestionIcon class="size-5" />
                    FAQ</a
                >
            </li>
        </ul>
    </nav>
</span>

<style>
    .slider-up {
        transform: translateY(100%);
        animation: slide-up 0.5s forwards;
    }

    .slider-down {
        animation: slider-down 0.5s forwards;
    }

    @keyframes slide-up {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    @keyframes slider-down {
        from {
            transform: translateY(0%);
        }

        to {
            transform: translateY(100%);
        }
    }
</style>

<script type="module" defer is:inline>
    import { showHiddeMenu } from "/js/menu.js";

    const items_nav = document.querySelectorAll("li a");

    items_nav.forEach((item) => {
        item.addEventListener("click", showHiddeMenu);
    });
</script>
